<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Search"
      [(ngModel)]="searchTerm"
      placeholder="What do you want to listen to?"
      (ionInput)="onSearch()"
      type="text"
      clear-input="true"
    >
      <ion-icon slot="start" name="search-outline" aria-hidden="true"></ion-icon>
    </ion-input>
  </ion-item>

  <!-- Hier können Sie die Suchergebnisse anzeigen -->
  <div *ngIf="searchResults.length > 0">
    <!-- Implementieren Sie hier Ihre Ergebnisliste -->
  </div>

</ion-content>
