<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BEYOND FM
    </ion-title>
  </ion-toolbar>
</ion-header>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet" />

<ion-content>




  <div class="search-bar">
    <ion-input
      [(ngModel)]="searchTerm"
      placeholder="Sender suchen..."
      (ionInput)="onSearch()"
      type="text"
      clear-input="true"
    >
    </ion-input>
  </div>


  <div class="sort-bar">
    <ion-select
      [(ngModel)]="sortOrder"
      (ionChange)="onSortChange()"
      interface="popover"
      placeholder="Sortieren nach..."
    >
      <ion-select-option value="name">Name</ion-select-option>
      <ion-select-option value="votes">Votes</ion-select-option>
      <ion-select-option value="clickcount">Popularity</ion-select-option>
      <ion-select-option value="bitrate">Bitrate</ion-select-option>
      <ion-select-option value="country">Country</ion-select-option>
    </ion-select>

    <ion-buttons slot="end">
      <ion-button
        [color]="sortDirection === 'asc' ? 'primary' : 'medium'"
        (click)="sortDirection = 'asc'; onSortDirectionChange()"
      >
        <ion-icon name="arrow-up"></ion-icon>
      </ion-button>
      <ion-button
        [color]="sortDirection === 'desc' ? 'primary' : 'medium'"
        (click)="sortDirection = 'desc'; onSortDirectionChange()"
      >
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>


  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner name="dots"></ion-spinner>
    <p>Searching...</p>
  </div>


  <div class="ion-text-center ion-padding" *ngIf="!isLoading && searchTerm && searchResults.length === 0">
    <ion-icon name="radio-outline" size="large"></ion-icon>
    <p>No stations found 🙁</p>
  </div>


  <div *ngIf="!isLoading && searchResults.length > 0">
    <div *ngFor="let station of paginatedResults; let i = index" class="station-card" (click)="onStationClick(station)">
      <div class="rank-number">{{ i + 1 }}.</div>
      <img class="station-logo" [src]="station.favicon || './assets/radio-placeholder.jpg'" [alt]="station.name" />
      <div class="station-info">
        <h2>{{ station.name }}</h2>
        <p>{{ station.country }}</p>
        <small>{{ formatTags(station.tags) }}</small>
      </div>
    </div>
  </div>


  <ion-footer *ngIf="!isLoading && searchResults.length > itemsPerPage">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="previousPage()" [disabled]="currentPage === 1">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Seite {{ currentPage }} von {{ totalPages }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>

