<div class="all">
  <ion-header [translucent]="true">
    <app-header/>
  </ion-header>

  <ion-card *ngIf="radioStation">
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <h5>Playing from Library: <br>
      <span>{{ radioStation.name }}</span></h5> <br> <br>
    <div class="image-wrapper">
      <img [src]="radioStation.favicon || './assets/radio-placeholder.jpg'"
           [alt]="'Logo von ' + radioStation.name"
           (error)="handleImageError($event)">
    </div>
    <ion-card-content>

      <div class="radioName">
        <div class="dotName">
          <div class="pulse-dot"></div>
          <div class="marquee">
            <div class="marquee-content">{{ radioStation.name }}</div>
          </div>
        </div>
        <div class="herzButt">
          <ion-button (click)="radioInteract(radioStation.url)" shape="round" size="large" color="danger">
            <ion-icon *ngIf="isPlaying(); else elseBlock" name="pause-outline" color="dark"></ion-icon>
            <ng-template #elseBlock>
              <ion-icon name="play-outline" color="dark"></ion-icon>
            </ng-template>
          </ion-button>
          <div class="herz">
            <ion-icon
              size="large"
              color="danger"
              [name]="isFavorite ? 'heart' : 'heart-outline'"
              (click)="toggleFavorite()"></ion-icon>
          </div>


        </div>
      </div>
    </ion-card-content>
  </ion-card>

</div>
