ion-title{
  text-align: center;
}
ion-header{
  background-color: black;
}


h5{

  color: white;
  span{
    color: #FF0900;
    font-size: 16px;
  }

}
ion-card-content{
  p{



    font-size: 28px;

  }
}
ion-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  //background-color: #FF0900;
  margin: auto;
  position: relative;
  //color: white;
}


.image-wrapper {
  width: 300px;               /* feste Breite */
  margin: 0 auto;             /* zentriert auf der Seite */
  background-color: white;     /* Balkenfarbe (optional) */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 42px;
}

.image-wrapper img {
  max-width: 100%;            /* passt in die Breite */
  height: auto;               /* behält Seitenverhältnis */
  display: block;
}
ion-card{
  width: 360px;
  height: 660px;
  justify-content: center;
  background-color: black;
}
.radioName{
  position: fixed;
  bottom: 120px;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: black;
}
