<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <app-header/>
    </ion-toolbar>
  </ion-header>
  <h5>Playing from Library: <br>
  <span>{{ radioStation.name }}</span></h5>
  <ion-card *ngIf="radioStation">
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ radioStation.name }}  -   {{ radioStation.country }}</p>
      <!-- <p><strong>Externer Stream:</strong><a href="{{ radioStation.url }}" target="_blank"> {{ radioStation.url }}</a></p> -->
      <ion-button (click)="radioInteract(radioStation.url)" shape="round">
        <ion-icon *ngIf="isPlaying(); else elseBlock" name="play-outline"></ion-icon>
        <ng-template #elseBlock>
          <ion-icon name="pause-outline"></ion-icon>
        </ng-template>
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
