.library-header {
  text-align: center;
  margin-top: 1rem;

  h2 {
    color: red;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .view-toggle {
    display: flex;
    justify-content: center;
    gap: 10px;

    ion-button {
      --border-radius: 10px;
      --padding-top: 4px;
      --padding-bottom: 4px;
      font-weight: bold;
      min-width: 90px;
    }
  }
}

.station-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background: #121212;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);

  img {
    width: 100%;
    height: 80px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 8px;
  }

  .station-name {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
}
