<!-- tab3.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meine Favoriten</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="favorites.length === 0" class="empty-favorites">
    <p>Du hast noch keine Favoriten hinzugefügt.</p>
    <p>Gehe zu Tab 1 und füge Sender zu deinen Favoriten hinzu!</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let radioStation of favorites" (click)="playStation(radioStation)">
      <ion-avatar slot="start">
        <img [src]="radioStation.favicon || './assets/radio-placeholder.jpg'"
             [alt]="'Logo von ' + radioStation.name"
             (error)="handleImageError($event)">
      </ion-avatar>
      <ion-label>
        <h2>{{ radioStation.name }}</h2>
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="removeFavorite($event, radioStation.id)">
        <ion-icon name="heart" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
